.zetamed_home_getting_stated{
  font-family: 'Public Sans', sans-serif;
    font-size: 20px;
}
.zetamed_home_start_adding{
  font-family: 'Public Sans', sans-serif;
    font-size: 15px;
}
.zetamed_home_button{
    font-family: 'Public Sans', sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.zetamed_home_clinic_dashboard{
    padding:10px;
    font-family: 'Public Sans', sans-serif;
    font-size: 24px;
}
.zetamed_home_date_now{
    padding:10px;
    font-family: 'Public Sans', sans-serif;
    font-size: 17px;
    border: 1px solid rgba(0, 0, 0, 0.247);
    background-color: #FAFAFA;
}
.zetamed_home_data_dash{
    padding:10px;
    font-family: 'Public Sans', sans-serif;
   
}

.zetamed_home_patient_count{
    padding: 20px;
    color: white;
    font-family: 'Public Sans', sans-serif;

}